streamlit==1.24.0  # Or latest version
pandas==2.0.3  # Or latest version
charset-normalizer
plotly==5.17.0  # Or latest version
networkx==3.1  # For network graph generation
folium==0.14.0  # For displaying maps
streamlit-folium==0.11.0  # To integrate Folium with Streamlit
